
//MAIN BODY GRID LAYOUT

.container-full {
  width:100%;
  margin: 0 auto;
}

.container {
  width:80%;
  margin: 0 auto;
}

.container-m {
  width:75%;
  margin: 0 auto;
}

.container-s {
  width:65%;
  margin: 0 auto;
}

.container-xs {
  width:55%;
  margin: 0 auto;
}

.container-nav {
  width:90%;
  margin: 0 auto;
}

