%heading {
  font-family: $font-header;
  color: $color-secondary;
  letter-spacing: 1px;
  line-height: normal;
}


a {
  font-family: $font-primary;
}

h1 {
  font-size: 5rem;
  @extend %heading;
}

h2 {
  font-size: 4rem;
  @extend %heading;
}

h3 {
  font-size: 3rem;
  @extend %heading;
}

h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  @extend %heading;
}

h5 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  @extend %heading;
}

