.lightbox-container {
  position: relative;

  & .prev,
  & .next {
    display: none;
    position: fixed;
    font-size: 20rem;
    color: aquamarine;
    top: 30%;
    cursor: pointer;
    z-index: 99999;
    opacity: 0.3;
  }

  & .next {
    right: 0;
  }

  & h1 {
    display: none;
    cursor: pointer;
    font-size: 7rem;
    font-family: $font-tertiary;
    position: fixed;
    top: 5%;
    right: 5%;
    color: $color-primary;
    transition: all .8s;
    z-index: 99999;

    &:hover {
      transform: rotate(360deg);
    }
  }

  & .lightbox-bg-left,
  & .lightbox-bg-right {
    position: fixed;
    height: 100vh;
    width: 50%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    transition: all .5s;
    }

  & .lightbox-bg-left {
    top: -110%;
  }

  & .lightbox-bg-right {
    right: 0;
    bottom: -110%;
  }

  & .bigImage {
    position: fixed;
    z-index: 99999;
    width: 60%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    @media only screen and (max-width : $bp-tablet-largest) {
      width: 100%;
    }
  }
}

#photo-section {
  padding: 3rem 0 0 0 ;

  & h2 {
    padding-left: 2rem;
    padding-top: 4rem;
  }

  & div {
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: repeat(6, 20rem);
    padding-top: 3rem;
    grid-gap: 1rem;
    transition: all 5s;

    // @media only screen and (max-width : $bp-tablet-largest) {
    //   grid-template-columns:repeat(4, 1fr);
    //   grid-template-rows: repeat(6, 20rem);
    // }

    @media only screen and (max-width : $bp-tablet-largest) {
      grid-template-columns:repeat(2, 1fr);
      grid-template-rows: repeat(12, 20rem);
    }

    & .gallery-icons {
      background: #000;

      & div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      & div img {
        width: 8rem;
        height: 8rem;
        margin-bottom: 4rem;
      }
    }

    & figure img { 
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;

      &:hover {
        -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(100%); /* FF 35+ */
      }
    }
    
    @media only screen and (min-width : $bp-tablet-largest) {
     
      & figure:first-child {

        background: #000;
        grid-column: 2/4;
        grid-row: 1/2;
      }
      & h2{
        color: #fff;
      }

      & figure:nth-child(2) {
        grid-column: 4/6;
        grid-row: 1/3;
      }

      & figure:nth-child(3) {
        grid-column: 6/10;
        grid-row: 1/3;
      }

      & figure:nth-child(4) {
        grid-column: 10/12;
        grid-row: 1/2;
      }

      & figure:nth-child(5) {
        // grid-column: 12/13;
        // grid-row: 1/3;
        display: none;
      }

      & figure:nth-child(6) {
        grid-column: 1/2;
        grid-row: 2/4;
      }

      & figure:nth-child(7) {
        grid-column: 2/4;
        grid-row: 2/3;
      }
      & figure:nth-child(8) {
        grid-column: 10/-1;
        grid-row: 2/4;
        
      }

      & figure:nth-child(9) {
        // grid-column: 12/13;
        // grid-row: 3/4;
        display: none;
      }

      & figure:nth-child(10) {
        grid-column: 2/5;
        grid-row: 3/4;
      }

      & figure:nth-child(11) {
        grid-column: 5/6;
        grid-row: 3/5;
        background: #000;
      }

      & figure:nth-child(12) {
        grid-column: 6/10;
        grid-row: 3/4;
      }
      & figure:nth-child(13) {
        grid-column: 1/3;
        grid-row: 4/5;
      }
      & figure:nth-child(14) {
        grid-column: 3/5;
        grid-row: 4/6;
      }
      & figure:nth-child(15) {
        grid-column: 6/8;
        grid-row: 4/5;
      }

      & figure:nth-child(16) {
        grid-column: 8/11;
        grid-row: 4/5;
      }

      & figure:nth-child(17) {
        grid-column: 11/-1;
        grid-row: 4/5;
      }

      & figure:nth-child(18) {
        grid-column: 5/7;
        grid-row: 5/6;
      }

      & figure:nth-child(19) {
        grid-column: 7/11;
        grid-row: 5/6;
      }
      & figure:nth-child(20) {
        grid-column: 4/8;
        grid-row: 6/7;
      }
      & figure:nth-child(21) {
        grid-column: 8/10;
        grid-row: 6/7;
      }
      & figure:nth-child(22) {
        grid-column: 6/8;
        grid-row: 7/8;
      }
    }

    @media only screen and (max-width : $bp-tablet-largest) {

      text-align: center;
    
      & h2{
        color: #fff;
      }

      & figure:nth-child(5),
      & figure:nth-child(9){
        padding: 2rem 3rem;
        background: $color-primary;

        & h5 {
          color: #fff;
        }
      }

      & figure:nth-child(8) {
        grid-column: 2/3;
        grid-row: 4/6; 
      }
  
      & figure:nth-child(11) {
        grid-column: 1/2;
        grid-row: 5/7;
        background: #000;
      }
  
    }
  }
}

//GALLERY VIDEO SECTION

#gallery-video-full {

  & .video-container {
    @include flex-column;
    align-items: center;
    margin: 0rem 0 10rem 0;
    position: relative;

    & .video-player {
      position: relative;
      outline: none;
      width: 50%;
      overflow: hidden;
      transition: all 1s;
  
      @media only screen and (max-width : $bp-laptop-largest) {
        width: 75%;
      }
  
      @media only screen and (max-width : $bp-phone-largest) {
        width: 100%;
      }
  
      &.show-controls {
        & .controls {
          bottom: 0;
        }
      }
  
      & .video-title {
        border-left: 1px solid #000;
        border-bottom: 1px solid #000; 
        margin-bottom: 2rem;
        padding-left: 1rem;
        width: 100%;
        transition: height 1s;
        display: flex;
        justify-content: space-between;
  
        @media only screen and (max-width : $bp-laptop-largest) {
          font-size: 2rem;
        }
  
        & .share {
          font-size: 2rem;
          height: 0;
          transition: height 1s;
          align-self: center; 
          display: none;
          padding-right: 1rem;
          transition: all .5s;
          &:hover {
            color: $color-primary;
            cursor: pointer;
          }
  
          @media only screen and (max-width : $bp-phone-largest) {
            margin-top: -1.3rem;
          }
        }
      }
  
      & video {
        width: 100%;
        display: block;
      }
  
      & .controls {
        width: 100%;
        position: absolute;
        bottom: -50%;
        padding: 2rem 1rem;
        color: white;
        background: rgba(0, 0, 0, 0.384);
        z-index: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
  
        & .start-time {
          flex-basis: 5%;
          flex-shrink: 1;
          display: inline-flex;
          font-size: 1.4rem;
          @media only screen and (max-width : $bp-phone-largest) {
            margin-left: 20px;
          }
        }
  
        & .seek-bar-time {
          height: 20px;
          border: 1px solid $color-primary-light;
          flex-basis: 60%;
          display: flex;
          &:hover {
            cursor: pointer;
          } 
  
          @media only screen and (max-width : $bp-phone-largest) {
            flex-basis: 50%;
            height: 10px;
            margin-left: 3px;
          }
          
          & .progress-bar-time {
            height: 100%;
            width: 1%;
            left: 0;
            background-color: $color-primary-dark;
            position: relative;
            display: inline-flex;
  
            // circle will show when hover
            &:hover {
              cursor: pointer;
              color: #fff;
            } 
          }   
        }
  
        & .volume-ctrl {
          display: inline-flex;
          align-items: center;
          flex-basis: 20%;
          justify-content: space-around;
  
          @media only screen and (max-width : $bp-phone-largest) {
            flex-basis: 40%;
            margin-right: 3rem;
          }
  
          & .icon {
            color: $color-primary-dark;
            font-size: 2rem;
            margin: 0 1rem 0 3rem;
          }
  
          & .seek-bar {
            display: inline-flex;
            flex-basis: 65%;
            height: 7px;
            border: 1px solid $color-primary-light;
            &:hover {
              cursor: pointer;
            } 
  
            & .progress-bar {
              display: inline-flex;
              height: 5px;
              width: 100%;
              left: 0;
              background: $color-primary-dark;
              &:hover {
                cursor: pointer;
              } 
            }
          }
        }
        
  
        & .playback-ctrl {
          flex-basis: 10%;
          display: inline-flex;
          justify-content: center;
          & .btn {
            font-size: 4rem;
            background: transparent;
            outline: 0;
            border: none;
            color: $color-primary-dark;
            &:hover {
              color: lighten( $color-primary-dark, 20%);
              cursor: pointer;
            }
  
            &.play { //se ce play class pause will be hidden
              .fa-pause {
                display: none;
              }
            }
  
            &.pause { //se ce play class pause will be hidden
              transform: rotate(180deg);
              .fa-play {
                display: none;
              }
            }
          }
        }
        
  
        & .full-screen-ctrl {
          flex-basis: 5%;
          display: inline-flex;
          justify-content: center;
          & .full-screen {
            font-size: 2rem;
            border: none;
            outline: 0;
            background: transparent;
            color: $color-primary-dark;
          }
        }
      }
    }
  }
}
  





