#header {
  padding-top: 6rem;
  display: flex;
  height: 100vh;
  position: relative;
  

  @media only screen and (max-width : $bp-tablet-largest) {
    flex-direction: column;
    background: url(../assets/images/home-hero-mobile.png) no-repeat;
    background-size: cover;
    margin-top: 3rem;
    width: 100%;
  }
  
  & ul {
    @include flex-column;
    align-items: center;
    position: relative;

    @media only screen and (max-width : $bp-tablet-largest) {
      position: absolute;
      top: 25%;
      padding: 2rem;
    }

    @media only screen and (max-width : $bp-phone-largest) {
      top: 15%;
      padding: 1rem;
    }

    & img {
      margin-top: 5rem;
      width: 100%;
      height: auto;
      @media only screen and (max-width : $bp-tablet-largest) {
        // display: none;
      }

      @media only screen and (max-width : $bp-tablet-largest) {
        width: 100%;
        margin-top: 15rem;
      }
    }
   
    & h2 {
      justify-items: center;
      letter-spacing: 10px;

      @media only screen and (max-width : $bp-phone-largest) {
        font-size: 1.8rem;
      }
    }
  
    & button {
      margin-top: 2rem;
      font-size: 2rem;
      letter-spacing: .5rem;
      color: #fff;
      background: #222;
      padding: 2rem 6rem;
      border: none;
      display: inline-block;
      vertical-align: middle;
      transform: perspective(1px) translateZ(0);
      // box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
      
      clip-path: polygon(0 0, 75% 0, 100% 100%, 24% 100%);
      cursor: pointer;

      @media only screen and (max-width : $bp-phone-largest) {
        font-size: 1.3rem;
      }
    }
  }

  & .hero-no-rome {
    // width: 50%;
    // height: auto;
    @media only screen and (max-width : $bp-tablet-largest) {
      display: none;
    }
  }

  //CHANGE THIS TO INFINITE HOVER
  & button:hover,
  & button:focus,
  & button:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  } 
}


#news {
  padding: 10rem 0;
  color: $color-grey-dark-1;
  
  @media only screen and (max-width: $bp-phone-largest) {
    padding: 5rem 0;
  }

  & .section-title {
    @include flex-justify-content(space-between);
    padding-bottom: 10rem;
    align-items: flex-end;
    @media only screen and (max-width : $bp-phone-largest) {
      justify-content: center;
      padding-bottom: 5rem;
    }
    
    & h2 {
      font-size: 5rem;
      font-weight: 600;

      @media only screen and (max-width : $bp-phone-largest) {
        font-size: 4rem;
      }
    }
    
    & li a {
      color: #000;
      font-size: 1.8rem;

      @media only screen and (max-width : $bp-phone-largest) {
        display: none;
      }
    }
  }

  & div {
    @include flex-justify-content(space-between);
    transition: all 1s;

    @media only screen and (max-width : $bp-laptop-largest) {
      flex-direction: column;
      align-items: center;
    }
    
    & ul {
      @include flex-column;
      align-items: center;
      text-align: center;
      width: 25%;
      margin-right: 100rem;
      overflow: hidden;

      @media only screen and (max-width : $bp-laptop-largest) {
        width: 60%;
        margin-bottom: 6rem;
      }

      @media only screen and (max-width : $bp-phone-largest) {
        width: 100%;
        margin-bottom: 6rem;
      }
    }

    & ul li:first-child img {// NEWS ARTICLE LOGOS
      padding-bottom: 1rem;
      width: 20rem;
      height: 80px;

      @media only screen and (max-width : $bp-phone-largest) {
        width: 15rem;
        height: 6rem;
      }
    }

    & ul li h4 {color: $color-grey-dark-1;}

    & ul p  {
      font-size: 1.4rem;
      font-style: italic;
      padding-bottom: 1.5rem; 
    }

    & a {
      color: black;
      font-size: 1.6rem;
      display: flex;
    }

    & ul .arrow-right { //ARROW LINK IMAGE
      width: 4rem;
      height: auto;
      cursor: pointer;
    }

    & ul li:last-child {
      display: flex;
      align-items: center;

      & a {
        color: $color-primary;
        padding: 0 .5rem;
      }

      & img {
        width: 3.5rem;
        height: 2rem;
      }
    }

    & ul:last-child {
      @media only screen and (max-width : $bp-laptop-largest) {
        margin-bottom: 0rem;
      }
    }

    & ul .arrow-right:hover,
    & ul a:hover ~ img {
      animation-name: hvr-wobble-horizontal;
      animation-duration: 1s;
    }

    //SEE ALL BUTTON AT THE BOTTOM FOR MOBILE
    & a:last-child() {
      display: none;
      @media only screen and (max-width : $bp-phone-largest) {
        display: block
      }
    }
  }
}


#gallery {
  @include flex-justify-content(space-between);
  position: relative;
  cursor: pointer;
  background: black;

  @media only screen and (max-width : $bp-tablet-largest) {
    background: url(../assets/images/no-rome-img-2.jpg) no-repeat center;
    background-size: cover;
    height: 50vh;
  }

  @media only screen and (max-width : $bp-tablet-medium) {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  & h4 {
    position:absolute;
    top: 40%;
    padding: 1.5rem;
    color: #fff;
    border: 4px solid #fff;
    z-index: 100;
    transition: all 1s;

    @media only screen and (max-width : $bp-laptop-largest) {
      padding: 3.5rem;
      color: $color-primary-light;
    }
    @media only screen and (max-width : $bp-tablet-medium) {
      position:relative;
      top:0;
      padding: 1rem;
    }
    @media only screen and (max-width : $bp-tablet-medium) {
      font-size: 2rem;
      border: 4px solid $color-primary-light;
      color: #fff;
    }
  }

  & .photos,
  & .watch {
    top: 40%;
    @media only screen and (max-width : $bp-laptop-largest) {
      top: 30%;
    }
    
  }

  & .photos {
    left: 20%;
    @media only screen and (max-width : $bp-laptop-largest) {
      left: 10%;
    }
    @media only screen and (max-width : $bp-tablet-largest) {
      left: 5%;
    }
    @media only screen and (max-width : $bp-tablet-medium) {
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -30%);
    }
  }

  & .watch {
    right: 20%;
    @media only screen and (max-width : $bp-laptop-largest) {
      right: 10%;
    }
    @media only screen and (max-width : $bp-tablet-largest) {
      right: 5%;
    }
    @media only screen and (max-width : $bp-tablet-medium) {
      position: absolute;
      left: 50%;
      top:70%;
      transform: translate(-50%, -70%);
    }
  }

  & div:first-child,
  & div:last-child {
    width: 50%;
    @media only screen and (max-width : $bp-tablet-medium) {
      width: 40%;
    }
    @media only screen and (max-width : $bp-tablet-medium) {
      width: 60%;
    }
  }

  & div:first-child img,
  & div:last-child img {
    width: 100%;
    height: auto;
    display: block;
    @media only screen and (max-width : $bp-tablet-largest) {
      display: none;
    }
  }

  & .img-1,
  & .img-2 {
    opacity: 0.7;
    transition: all 1s;
    @media only screen and (max-width : $bp-laptop-largest) {
      display: none;
    }
  }

  & .img-1 {
    margin-right: 50rem ;
    left: 500rem ;
  }

  & .img-1:hover,
  & .img-2:hover {
    opacity: 1;
  }

  & .img-2:hover + .watch,
  & .img-1:hover + .photos,
  & .photos:hover,
  & .watch:hover{
    color: $color-primary;
    border: 4px solid $color-primary;
  }
  
}

.fadeIn {
  opacity: 1;
}

